.footer {
    display: flex;

    margin-top: 30px;
    position: fixed;
    background-color: #f7ca18;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    justify-content: center;

}

.footer_text {
    margin: 20px;
}