.item {
    margin: auto;
}

.item_name {
    font-size: 20px;
}

.line {
    /* color: rgb(189, 200, 209); */
    border: 1px solid rgb(210, 210, 210);
}

.deleteButton {
    background-color: rgb(255, 196, 0);
    margin-top: -5px;
    float: right;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.complited {
    text-decoration: line-through;
}